.App {
  text-align: center;
}

.background-image {
  background-image: url('./windows.jpg');
  height: 800px;
}


/* .App-header {
  background-color: #31A4DD;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #918F8B;
} */



