.App {
  text-align: center;
}

.background-image {
  background-image: url('./windows.jpg');
  height: 1000px;
}


/* .App-header {
  
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
} */

.App-logo {
  height: 170px;
  padding: 20px;
  animation: socLogo infinite 20s linear;
transform: rotate(90deg);
}



@keyframes socLogo {
0% {
  /* Initial state */
  transform: rotate(360deg);
}
100% {
  /* Final state */
  transform: rotate(0deg);
}
}


