.card {
    background-color: #05A6F0;
    opacity: 0.9;
    border-radius: 20px;
    border: solid 10px;
    border-color: #F7F7F5;
    display: inline-block;
    height: 400px;
    margin: 1rem;
    position: relative;
    width: 600px;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.card-text{
    margin-left: 4.7em;
    margin-right: 4.7em;
}  
  /* iPhone 12 and 12 Pro */
  @media only screen 
    and (min-device-width: 390px) 
    and (max-device-width: 844px)
    and (-webkit-min-device-pixel-ratio: 3) {
  
    .card {
      width: 85%;
      height: auto; 
      margin: 1rem auto;
    }
    
    /* .card-text {
      margin-left: 1rem;
      margin-right: 1rem;
    } */
  
  }    