
.Name-Form,
.Email-Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    
  
    
}


.Body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #F7F7F5;
    font-size: 17px;
    text-align: center;

}

.Form-Title {
  font-size: 22px;
}

.Name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #F7F7F5;
    
}



.Email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #F7F7F5;
    
}


.Name-Form .Name-Input,
.Email-Form .Email-Input {
  height: 10px;
  width: 40%;
  margin-bottom: 10px;
  border-radius: 20px;
  border: 1px solid #F7F7F5;
  background-color: #F7F7F5;
  padding: 10px;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  color: #05A6F0;
}

.Name-Form .Name-Input::placeholder,
.Email-Form .Email-Input::placeholder {
  color: #05A6F0; /* Set the text color for the placeholders */
}

.gif {
  justify-content: center;
  height: 300px;
  width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}