
.Name-Form,
.Email-Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    
  
    
}

.Body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #F7F7F5;
    font-size: 20px;

}

.Name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #F7F7F5;
    
}



.Email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #F7F7F5;
    
}


.Name-Form .Name-Input,
.Email-Form .Email-Input {
  width: 50%;
  margin-bottom: 10px;
  border-radius: 20px;
  border: 1px solid #F7F7F5;
  background-color: #F7F7F5;
  padding: 10px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: #05A6F0;
}

.Name-Form .Name-Input::placeholder,
.Email-Form .Email-Input::placeholder {
  color: #05A6F0; /* Set the text color for the placeholders */
}